<settings>
  <mirrors>
    <mirror>
      <id>artifact-registry-repo</id>
      <name>AR Mirror</name>
      <url>https://asia-northeast3-maven.pkg.dev/angelic-bond-480000-e2/maven-repo-demo</url>
      <mirrorOf>central</mirrorOf> 
    </mirror>
  </mirrors>
  <profiles>
    <profile>
      <id>artifact-registry-auth</id>
      <activation>
        <activeByDefault>true</activeByDefault>
      </activation>
      <repositories>
        <repository>
          <id>artifact-registry-repo</id>
          <url>https://asia-northeast3-maven.pkg.dev/angelic-bond-480000-e2/maven-repo-demo</url>
        </repository>
        <repository>
          <id>central</id>
          <url>https://repo.maven.apache.org/maven2</url>
        </repository>
      </repositories>
      <pluginRepositories>
        <pluginRepository>
          <id>artifact-registry-repo</id>
          <url>https://asia-northeast3-maven.pkg.dev/angelic-bond-480000-e2/maven-repo-demo</url>
        </pluginRepository>
      </pluginRepositories>
    </profile>
  </profiles>
  <servers>
    <server>
      <id>artifact-registry-repo</id>
      <configuration>
        <auth>
          <credentialHelper>google</credentialHelper>
        </auth>
      </configuration>
    </server>
  </servers>
</settings>
